<!DOCTYPE html>
<html lang="zxx">

  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="css/user-request.css"  id="bootstrap-css"/>
  <link rel="stylesheet" href="css/event-applicants.css"  id="bootstrap-css"/>
  


<body>
  

  <%- include('includes/head-Includes.ejs') %>
  <%- include('includes/auth.ejs') %>

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</section>
<!-- /page title -->
<section class="section">
  <div class="container">
    <% if (users.length > 0){%>
    <% for(let i in users) {%>
    <div class="card border-0 rounded-0 hover-shadow mb-2 mt-2">
     
        <div class="card-body">
          <div class="row">
          <div class="col-lg-1 col-sm-1 my-auto">
            <img src="/<%= users[i].profile.profileImage === undefined ?   'images/defaultUser.jpg' : users[i].profile.profileImage %>" class="rounded-circle" style="width: 50px; height: 50px;" alt="Cinque Terre">
          </div>
          <div class="col-lg-10 col-sm-10">
            <div class="row h-100">
              <div class="col-lg-4  col-sm-4 my-auto">
                <h4><%= users[i].profile.firstName%> <%= users[i].profile.lastName%></h4>
              </div>
              <div class="col-lg-6  col-sm-6 my-auto">
                <p>
                  <%= users[i].profile.college.college_name%>
                </p>
              </div>
              <div class="col-lg-2  col-sm-2 my-auto">
                <p>
                  Enrolment id <%= (parseInt(i)+1)  %>
                </p>
              </div>
            </div>
        
          </div>
        </div>
        
      </div>
    </div>
    <% }%>
    <% }else {%>
      <div class="card border-0 rounded-0 hover-shadow mb-2 mt-2">
     
        <div class="card-body">
          <div class="row">
          <div class="col-lg-12 col-sm-12 my-auto">
            <h1 class="no-registration">No Registrations</h1>
          </div>
          
        </div>
        
      </div>
    </div>


      <% }%>


    
  </div>
</div>
  </div>
     
      
</section>
                

<!-- footer --> 
<footer>
  <!-- newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white">Subscribe Now</h3>
          <form action="#">
            <div class="input-wrapper">
              <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
              <button type="submit" value="send" class="btn btn-primary">Join</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <!-- <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="images/logo.png" alt="logo"></a>
          <ul class="list-unstyled">
            <li class="mb-2">23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</li>
            <li class="mb-2">+1 (2) 345 6789</li>
            <li class="mb-2">+1 (2) 345 6789</li>
            <li class="mb-2">contact@yourdomain.com</li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="plugins/venobox/venobox.min.js"></script>
<!-- mixitup filter -->
<script src="plugins/mixitup/mixitup.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="plugins/google-map/gmap.js"></script>


<script src="js/script.js"></script>
<script src="js/datepicker-full.js"></script>
<script src="js/clock-picker.js"></script>
<script src="js/bootstrap-datePicker.js"></script>
<script src="js/manual.js"></script>


</body>
</html>