<!DOCTYPE html>
<html lang="zxx">

  <%- include('includes/head.ejs') %>
  <link href="css/main.css" rel="stylesheet">
  <link href="css/profile-page.css" rel="stylesheet">
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  

<body>

  <%- include('includes/head-Includes.ejs') %>


<!-- page title -->
  <section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
     
      </div>
    </div>
  </section>
  <!-- /page title --> 


  <div class="container p-0">
    <div class="row">

      <div class="col-md-5 col-xl-4">

        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Profile Settings</h5>
          </div>
        
          <div class="list-group list-group-flush" role="tablist">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
              Account
            </a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
              Password
            </a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#college" role="tab">
              College Details
            </a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#socialMedia" role="tab">
              Social Media
            </a>
        
          </div>
        </div>
      </div>

      <div class="col-md-7 col-xl-8">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="account" role="tabpanel">

            <div class="card">
              <div class="card-header">
              <h5 class="card-title mb-0">Public info</h5>
              </div>

              <div class="card-body">
                <form id="public-info" >  
                  <div class="row">

                    <div class="col-md-8">

                      <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <label  class="form-control " ><%= user.userName %></label>
                      </div>

                      <div class="form-group">
                        <label for="inputDOB">DOB</label>
                        <div class='input-group date' id='datePicker'>
                          <input type='text' class="form-control" id="inputDOB" name="inputDate" placeholder="<%= user.profile.birth_date === undefined  ? 'Enter Date of Birth' : user.profile.birth_date  %>" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                        
                      <div class="form-group">
                          <label for="inputUsername">Biography</label>
                          <textarea rows="2" class="form-control" id="inputBio" placeholder="<%= user.profile.Biography === undefined  ? 'Tell something about yourself' : user.profile.Biography  %>"></textarea>
                      </div>

                    </div>

                    <div class="col-md-4">
                      <div class="container-image" id="but_upload">
                            
                        <img id="profile-img" src="/<%= user.profile.profileImage === undefined ?   'images/Profile/avatar_male.png' : user.profile.profileImage %>" alt="Avatar" class="image rounded-circle img-responsive  mx-auto profile-img" style="width:100%">
                        <div class="middle" id="file">
                          <img src="images/profile-page/edit-image.png" alt="Avatar" class="image rounded-circle img-responsive  mx-auto profile-img" style="width:100%">
                        </div>

                      </div>

                      <input type="file" id="file-input" name="file" class="visiblity-none" />
                        
                    </div>
                  </div>
                  <button type="button" onclick="savePublicInfo()"  class="btn btn-primary">Save changes</button>
                </form>

              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Private info</h5>
              </div>

              <div class="card-body">
                <form>
                  <div class="form-row">
              
                    <div class="form-group col-md-6">
                      <label for="inputFirstName">First name</label>
                      <input type="text" class="form-control" id="inputFirstName" placeholder="<%= user.profile.firstName %>">
                    </div>
              
                    <div class="form-group col-md-6">
                      <label for="inputLastName">Last name</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="<%= user.profile.lastName %>">
                    </div>
              
                  </div>

                  <div class="form-row">

                    <div class="form-group col-md-6 ">
                      <label for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="<%= user.email%>"> 
                    </div>

                    <div class="form-group col-md-6 center">
                      <label for="inputEmail4">Gender</label>
                      <input type="radio" id="fat" name="gender" value="Male" <%= user.profile.gender == 'Male' ? 'checked'  : '' %>>
                      <input type="radio" id="fit" name="gender" value="Female"<%= user.profile.gender == 'Female' ? 'checked'  : '' %>>
                      <div>
              
                      </div>
                      <div>
                        <label for="fat">♂️</label>
                        <label for="fit">♀️</label>
                      </div>
                    </div>

                  </div>

                    
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress"placeholder="<%= user.profile.address.text_address === undefined  ? 'Enter Your Address  Apartment, studio, or floor' : user.profile.address.text_address  %>">
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity"
                        placeholder="<%= user.profile.address.city === undefined  ? 'City' : user.profile.address.city  %>">
                    </div>

                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <input type="text" class="form-control" id="inputState"
                        placeholder="<%= user.profile.address.state === undefined  ? 'State' : user.profile.address.state  %>">
                  
                    </div>

                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" class="form-control" id="inputZip"
                        placeholder="<%= user.profile.address.zip === undefined  ? 'Zip' : user.profile.address.zip  %>">
                    </div>

                  </div>

                  <button type="button" onclick="savePersonalInfo()" class="btn btn-primary">Save changes</button>

                </form>

              </div>
            </div>
          </div>

                
          <div class="tab-pane fade" id="password" role="tabpanel">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Password</h5>
          
                <form>
          
                  <div class="form-group">
                    <label for="inputPasswordCurrent">Current password</label>
                    <input type="password" class="form-control" id="inputPasswordCurrent">
                    <small><a href="#">Forgot your password?</a></small>
                  </div>
          
                  <div class="form-group">
                    <label for="inputPasswordNew">New password</label>
                    <input type="password" class="form-control" id="inputPasswordNew">
                  </div>
          
                  <div class="form-group">
                    <label for="inputPasswordNew2">Verify password</label>
                    <input type="password" class="form-control" id="inputPasswordNew2">
                  </div>
          
                  <button type="button" class="btn btn-primary" onclick="savePersonalInfo()">Save changes</button>
          
                </form>
          
              </div>
            </div>
          </div>


                
          <div class="tab-pane fade " id="college" role="tabpanel">
            <div class="card">
              <div class="card-header">
          
                <!-- <h5 class="card-title mb-0">Private info</h5> -->
              </div>
          
              <div class="card-body">
                <form>
                  <div class="form-row">
          
                    <div class="form-group col-md-8">
                      <label for="inputCollegeName">College Name</label>
                      <input type="text" class="form-control" id="inputCollegeName"
                        placeholder="<%=   user.profile.college.college_name === undefined  ? 'Enter College Name ' : user.profile.college.college_name   %>">
                    </div>
          
                    <div class="form-group col-md-4">
                      <label for="inputCollegeCode">College Code</label>
                      <input type="text" class="form-control" id="inputCollegeCode"
                        placeholder="<%=   user.profile.college.college_code === undefined  ? ' Eg - 204  ' : user.profile.college.college_code   %>">
                    </div>
                  </div>
          
                  <div class="form-row">
                    <div class="form-group col-md-4 ">
                      <label for="inputCorse">Corse</label>
                      <input type="email" class="form-control" id="inputCorse"
                        placeholder="<%=   user.profile.college.course_name === undefined  ? ' Eg - B.Tech  ' : user.profile.college.course_name   %>">
                    </div>
          
                    <div class="form-group col-md-4">
                      <label for="inputBranch">Branch</label>
                      <input type="email" class="form-control" id="inputBranch"
                        placeholder="<%=   user.profile.college.branch_name === undefined  ? ' Eg - CSE  ' : user.profile.college.branch_name   %>">
                    </div>
          
                    <div class="form-group col-md-4">
                      <label for="inputSemister">Semister</label>
                      <input type="email" class="form-control" id="inputSemister"
                        placeholder="<%=   user.profile.college.branch_name === undefined  ? ' Eg - CSE  ' : user.profile.college.branch_name   %>">
                    </div>
          
                    <button type="button" onclick="saveCollegeInfo()" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>



          <div class="tab-pane fade " id="socialMedia" role="tabpanel">
            <div class="card">
              <div class="card-header">
                <!-- <h5 class="card-title mb-0">Private info</h5> -->
              </div>
          
              <div class="card-body">
          
                <form>
          
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputFacebook">FaceBook</label>
                      <input type="text" class="form-control" id="inputFacebook"
                        placeholder="<%=   user.profile.social_media.facebook === undefined  ? 'Enter FaceBook Link ' : user.profile.social_media.facebook  %>">
                    </div>
          
                    <div class="form-group col-md-12">
                      <label for="inputTwitter">Twitter</label>
                      <input type="text" class="form-control" id="inputTwitter"
                        placeholder="<%=   user.profile.social_media.twitter === undefined  ? 'Enter Twitter Link ' : user.profile.social_media.twitter  %>">
                    </div>
          
                  </div>
                  <button type="button" onclick="saveSocialInfo()" class="btn btn-primary">Save changes</button>
          
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- footer -->
  <footer>
    <!-- newsletter -->
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
            <h3 class="text-white">Subscribe Now</h3>
            <form action="#">
              <div class="input-wrapper">
                <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                <button type="submit" value="send" class="btn btn-primary">Join</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
            <!-- logo -->
            <!-- <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="images/logo.png" alt="logo"></a>
            <ul class="list-unstyled">
              <li class="mb-2">23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</li>
              <li class="mb-2">+1 (2) 345 6789</li>
              <li class="mb-2">+1 (2) 345 6789</li>
              <li class="mb-2">contact@yourdomain.com</li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->



  
  
  <%- include('includes/scripts.ejs') %>
  <script src="js/bootstrap-datePicker.js"></script>
  <script src="js/manual.js"></script>
  <script src="js/global.js"></script>
  <script src="js/profile-page.js"></script>
  

</body>
</html>    
                                                      